/* Additional CSS to add styling to the navigation menu cube
and remove edit button */
:root > * {
    --md-primary-fg-color:        #22b5c7;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #555555;
    --md-primary-bg-color:  #2d2382; /*Font color in Header*/
    --md-default-bg-color--dark: #edc94e;
    --md-default-fg-color:  black; /*Font color in regular text*/
    --md-default-fg-color--light:  black; /*Font color in regular text*/
    --md-default-fg-color--dark:  white; /*Font color in regular text*/
  }
  
.nav-cube img {
    width: 90%;
    padding: 0 .6rem;
    margin-bottom: 20px;
}

[data-md-color-scheme="scalefree-light"] {
  background-color: #22b5c7;
}

[data-md-color-theme="scalefree-dark"] {
  background-color: #c5661d;
}

/* Style buttons */
.btn {
  background-color: #91569D;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;

}

.btn i, a.btn {
    color: white;
}

a.btn {
    margin-top: 20px;
    display: inline-block;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #2d2382;
}

.required {
    color: green
}

.not-required {
    color: red;
}